<app-text-to-speech #TTS></app-text-to-speech>
<div class="header">

  <div class="box">
    <div style="order: 1" class="align">
      <img #tts10 alt="logo GoldenAge" src="assets/images/logoPetit.png" height="157" width="153" (mouseover)="TTS.say(tts10.alt)" (mouseout)="TTS.stop()">

      <img alt="logo user" src="assets/images/userLogo.png" height="80" width="70" class="align">
    </div>

    <div style="order: 2; flex-grow: 2" class="column">
      <img #tts11 alt="Golden Age" src="assets/images/textGoldenAge.png" height="40" width="290" (mouseover)="TTS.say(tts11.alt)" (mouseout)="TTS.stop()">

      <h1 #tts12 (mouseover)="TTS.say(tts12.innerText)" (mouseout)="TTS.stop()">Bienvenue sur votre espace personnel</h1>

    </div>

    <div style="order: 3" class="align">
      <button mat-button color="primary" (click)="openDialogWithTemplateRef(myDialog)"><img #tts13 alt="Réglages" src="assets/images/cogLogo.png" height="80" width="70" (mouseover)="TTS.say(tts13.alt)" (mouseout)="TTS.stop()" (keyup.tab)="TTS.say(tts13.alt)" (keyup.shift.tab)="TTS.say(tts13.alt)" ></button>
      <a [routerLink]="['/login']"><img #tts14 alt="Déconnexion" src="assets/images/logOutLogo.png" height="70" width="60" class="align" (mouseover)="TTS.say(tts14.alt)" (mouseout)="TTS.stop()" (keyup.tab)="TTS.say(tts14.alt)" (keyup.shift.tab)="TTS.say(tts14.alt)"/></a>
    </div>
  </div>

  <div class="displayed">
    <nav>
      <a #tts20 (mouseover)="TTS.say(tts20.innerText)" (mouseout)="TTS.stop()" (keyup.tab)="TTS.say(tts20.innerText)" (keyup.shift.tab)="TTS.say(tts20.innerText)" class="navigation" [routerLink]="['/accueilUser']">Accueil</a>
      <a #tts21 (mouseover)="TTS.say(tts21.innerText)" (mouseout)="TTS.stop()" (keyup.tab)="TTS.say(tts21.innerText)" (keyup.shift.tab)="TTS.say(tts21.innerText)" class="navigation" [routerLink]="['/theme-list']">Séléctionner un thème</a>
      <a #tts22 (mouseover)="TTS.say(tts22.innerText)" (mouseout)="TTS.stop()" (keyup.tab)="TTS.say(tts22.innerText)" (keyup.shift.tab)="TTS.say(tts22.innerText)" class="navigation" [routerLink]="['/quiz-played']">Mes statistiques</a>
    </nav>
  </div>

  <ng-template #myDialog>
    <h2 matDialogTitle>Dialog!</h2>
    <mat-dialog-content>
      <p>The content of this dialog came from an <code>ng-template</code>! Amazing, right?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose="true" color="primary">Dismiss</button>
    </mat-dialog-actions>
  </ng-template>

</div>
