<app-text-to-speech #TTS></app-text-to-speech>
<div class="header">

  <div class="box">
    <div style="order: 1" class="align">
      <a [routerLink]="['/accueilUser']" (keyup.tab)="TTS.say(tts100.alt)" (keyup.shift.tab)="TTS.say(tts100.alt)"><img #tts100 alt="GoldenAge" src="assets/images/logoPetit.png" height="157" width="153" ></a>

      <a [routerLink]="['/accueilUser']" (keyup.tab)="TTS.say(tts101.alt)" (keyup.shift.tab)="TTS.say(tts101.alt)"><img #tts101 alt="Accueil" src="assets/images/userLogo.png" height="80" width="70" class="align" (mouseover)="TTS.say(tts101.alt)" (mouseout)="TTS.stop()"></a>
    </div>

    <div style="order: 2; flex-grow: 2" class="column">
      <img #tts11 alt="Golden Age" src="assets/images/textGoldenAge.png" height="40" width="290" (mouseover)="TTS.say(tts11.alt)" (mouseout)="TTS.stop()">

      <h1 #tts12 (mouseover)="TTS.say(tts12.innerText)" (mouseout)="TTS.stop()">Bienvenue sur votre espace personnel</h1>

    </div>

    <div style="order: 3" class="align">
      <button *ngIf="TTS.mute" mat-button color="primary" (click)="TTS.switchMute()" (keyup.tab)="TTS.say(tts15.alt)" (keyup.shift.tab)="TTS.say(tts15.alt)"><img  #tts15 alt="son on/off"  src="assets/images/sonOffLogo.png" height="80" width="70" (mouseover)="TTS.say(tts15.alt)" (mouseout)="TTS.stop()"></button>
      <button *ngIf="!TTS.mute" mat-button color="primary" (click)="TTS.switchMute()" (keyup.tab)="TTS.say(tts15.alt)" (keyup.shift.tab)="TTS.say(tts15.alt)"><img  #tts15 alt="son on/off"  src="assets/images/sonOnLogo.png" height="80" width="70" (mouseover)="TTS.say(tts15.alt)" (mouseout)="TTS.stop()"></button>
      <button mat-button color="primary" (click)="openDialogWithTemplateRef(myDialog)" (keyup.tab)="TTS.say(tts13.alt)" (keyup.shift.tab)="TTS.say(tts13.alt)" ><img #tts13 alt="Réglages" src="assets/images/cogLogo.png" height="80" width="70" (mouseover)="TTS.say(tts13.alt)" (mouseout)="TTS.stop()"></button>
      <a [routerLink]="['/login']" (keyup.tab)="TTS.say(tts14.alt)" (keyup.shift.tab)="TTS.say(tts14.alt)"><img #tts14 alt="Déconnexion" src="assets/images/logOutLogo.png" height="70" width="60" class="align" (mouseover)="TTS.say(tts14.alt)" (mouseout)="TTS.stop()"/></a>
    </div>
  </div>

  <div class="displayed">
    <nav>
      <a #tts20 (mouseover)="TTS.say(tts20.innerText)" (mouseout)="TTS.stop()" (keyup.tab)="TTS.say(tts20.innerText)" (keyup.shift.tab)="TTS.say(tts20.innerText)" class="navigation" [routerLink]="['/accueilUser']">Accueil</a>
      <a #tts21 (mouseover)="TTS.say(tts21.innerText)" (mouseout)="TTS.stop()" (keyup.tab)="TTS.say(tts21.innerText)" (keyup.shift.tab)="TTS.say(tts21.innerText)" class="navigation" [routerLink]="['/theme-list']">Sélectionner un thème</a>
      <a #tts22 (mouseover)="TTS.say(tts22.innerText)" (mouseout)="TTS.stop()" (keyup.tab)="TTS.say(tts22.innerText)" (keyup.shift.tab)="TTS.say(tts22.innerText)" class="navigation" [routerLink]="['/quiz-played/user']">Mes résultats</a>
    </nav>
  </div>

  <ng-template #myDialog>
    <h2>Paramètres :</h2>
    <mat-dialog-content>

  <app-text-to-speech #config ></app-text-to-speech>
    <div class="form-field">
      <label for="voice-control" class="form-field__label">
        <p>Voix :</p>
      </label>
      <div class="form-field__content">
        <select
          id="voice-control"
          name="voice"
          [(ngModel)]="config.selectedVoiceIndex"
          (change)="config.changeVoice(); config.demoSelectedVoice()"
          class="form-field__control">
          <option value="">- Sélectionner une voix -</option>
          <option
            *ngFor="let voiceIndex of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]"
            [ngValue]="voiceIndex">
            {{ config.voices[voiceIndex].name }}

          </option>
        </select>
      </div>
      <div>
        <p>Choisissez la taille des caractères: </p>
        <p style="font-size:25px"><a (click)="toggle('25px')">Texte par défaut</a></p>
        <p style="font-size:30px"><a (click)="toggle('30px')">Texte petit</a></p>
        <p style="font-size:35px"><a (click)="toggle('35px')">Texte moyen</a></p>
        <p style="font-size:40px"><a (click)="toggle('40px')">Texte grand</a></p>
        <p style="font-size:45px"><a (click)="toggle('45px')">Texte très grand</a></p>
      </div>
    </div>


      <!-- <p>The content of this dialog came from an <code>ng-template</code>! Amazing, right?</p> -->
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose="true" color="primary">Fermer</button>
    </mat-dialog-actions>
  </ng-template>

</div>
