<app-header-pro></app-header-pro>
<div class="card">
  <h2>Créer un nouveau Theme</h2>
  <form class="theme-form" [formGroup]="themeForm">
    <label for="theme">
      Nom du Theme <br>
      <input class="input-custom" type="text" id="theme" [formControlName]="'name'">
    </label>
    <br>
    <label for="img">
      Image <br>
      <input class="input-custom" type="text" id="img" [formControlName]="'img'">
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addTheme()" [routerLink]="['/ajouter-quiz']">Créer</button>
  </form>
</div>

<app-theme-list-pro></app-theme-list-pro>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
