<app-header-pro></app-header-pro>
<br>
<div class="displayed">
  <h2>Créer un nouveau Thème</h2>
  <form class="theme-form" [formGroup]="themeForm">
    <div>
      <div>
        <label for="theme">Nom du Thème </label>
        <input class="input-custom" type="text" id="theme" [formControlName]="'name'">
      </div>
      <div>
      <label for="img">Image</label>
        <input class="input-custom" type="text" id="img" [formControlName]="'img'">
      </div>
    </div>
    <button type="submit" class="button-card" (click)="addTheme()" [routerLink]="['/ajouter-quiz']">Créer</button>
  </form>
</div>

<app-theme-list-pro></app-theme-list-pro>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
