@import "../../../styles/variables";

/**
 Use :host to apply some style to your entire component #24c6dc, #514a9d
 #0f0c29, #302b63, #24243e linear-gradient(to right,#302b63, #0f0c29, #302b63);
 */
:host {
  color: $white;
}

h1{
  color: $pink;
  font-size: 24px;
}

.header {
  background: $app-background-color;
  padding: 0.5em;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.navigation {
  font-size: 20px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-decoration: none;
  color: $pink;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.align{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayed {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  background-color: $white;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: $white;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: $pink;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: $pink;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.popup p {
  color: $blue;
}
