<div class="header">

  <div class="box">
    <div style="order: 1" class="align">
      <img alt="logo GoldenAge" src="assets/images/logoPetit.png" height="157" width="153">

      <img alt="logo user" src="assets/images/userLogo.png" height="80" width="70" class="align">
    </div>

    <div style="order: 2; flex-grow: 2" class="column">
      <img alt="titre" src="assets/images/textGoldenAge.png" height="40" width="290">

      <h1>Bienvenue sur votre espace personnel</h1>

    </div>

    <div style="order: 3" class="align">
      <a href="#popup1"><img alt="logo cog" src="assets/images/cogLogo.png" height="80" width="70"></a>
      <div id="popup1" class="overlay">
        <div class="popup">
          <h2>Configurations</h2>
          <a class="close" onclick="javascript:history.back()">&times;</a>
          <div class="content">
            <p>Choisir une voix.</p>
          </div>
        </div>
      </div>

      <img alt="logo log out" src="assets/images/logOutLogo.png" height="70" width="60" class="align">
    </div>

  </div>

  <div class="displayed">
      <nav>
        <a class="navigation" [routerLink]="['/accueilUser']">Accueil</a>
        <a class="navigation" [routerLink]="['/theme-list']">Selectionner un theme</a>
        <a class="navigation" [routerLink]="['/user-list']">Mes statistiques</a>
      </nav>
  </div>


  <!--modifier plus tard -->
  <div>
    <a class="navigation" [routerLink]="['helpUser']">Help</a>
  </div>



</div>
