<app-header-pro></app-header-pro>
<br>
<ng-container *ngIf="quiz">
  <div class="displayed">
    <h1>{{quiz.name}}</h1>
    <h2>Créer une nouvelle question</h2>
    <br>
    <form class="quiz-form" [formGroup]="questionForm">
      <div class="align">
        <div>
          <div class="item">
            <label for="label">Enoncé de la question :</label>
            <input class="input-custom" type="text" id="label" [formControlName]="'label'">
          </div>
          <div class="item" formArrayName="answers">
            <div *ngFor="let address of answers.controls; let i=index">
              <div [formGroupName]="i">
                <label>Réponse {{i + 1}} :</label>
                <input type="text" [formControlName]="'value'">
                <input class="spacing" type="checkbox" [formControlName]="'isCorrect'">
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="item">
            <label for="img">
              <p>Image </p>
              <input class="input-custom" type="text" id="img" [formControlName]="'img'">
            </label>
          </div>
          <img *ngIf="quiz" src="{{quiz.img}}" alt="image du quiz">
        </div>
      </div>
      <br>
      <button type="submit" class="button-card" (click)="addQuestion()">Ajouter une question</button>
      <button class="button-card item" (click)="finish()">Terminer</button>

    </form>
  </div>
</ng-container>

<app-footer-pro></app-footer-pro>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
