<!--suppress XmlDuplicatedId, XmlDuplicatedId ->lDuplicatedId ->lDuplicatedId -->

    <div class="img">
      <img alt="logo GoldenAge login" src="assets/images/logoComplet.png" height="200" width="562">
      <h1>Veuillez vous connecter.</h1>
    </div>
    <div class="displayed">
        <div style="float: left" class="log">
            <div id="user">
                <div>Utilisateurs</div><br>
                <form action="/ma-page-de-traitement" method="post">
                    <div class="spacing">
                        <label for="user_name">Nom d'utilisateur :</label>
                        <input type="text" id="u_name" name="user_name">
                    </div>
                    <div class="spacing">
                        <label for="mdp">Mot de passe :</label>
                        <textarea id="password" name="mdp"></textarea>
                    </div>
                    <div>
                        <button [routerLink]="['/accueilUser']">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
        <div style="margin-left: auto" class="log">
            <div id="pro">
                <div>Professionnels</div><br>
                <form action="/ma-page-de-traitement" method="post">
                    <div class="spacing">
                        <label for="user_name">Nom d'utilisateur :</label>
                        <input type="text" id="user_name" name="user_name">
                    </div>
                    <div class="spacing">
                        <label for="mdp">Mot de passe :</label>
                        <textarea id="mdp" name="mdp"></textarea>
                    </div>
                    <div>
                        <button [routerLink]="['/mes-quiz']">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

