<body>  
    <div classe = "user">
        <div>User</div>
        <form action="/ma-page-de-traitement" method="post">
            <div>
                <label for="Nom d'utilisateur">Nom d'utilisateur :</label>
                <input type="text" id="user_name" name="user_name">
            </div>
            <div>
                <label for="mdp">Mot de passe :</label>
                <textarea id="mdp" name="mdp"></textarea>
            </div>
        </form>
    </div>
    <div classe = "pro">
        <div>Pro</div>
        <form action="/ma-page-de-traitement" method="post">
            <div>
                <label for="Nom d'utilisateur">Nom d'utilisateur :</label>
                <input type="text" id="user_name" name="user_name">
            </div>
            <div>
                <label for="mdp">Mot de passe :</label>
                <textarea id="mdp" name="mdp"></textarea>
            </div>
        </form>
    </div>
</body>