<!--suppress XmlDuplicatedId, XmlDuplicatedId ->lDuplicatedId ->lDuplicatedId -->

    <div class="img">
      <img alt="logo GoldenAge login" src="../../../assets/images/logoComplet.png" height="150" width="421">
      <h1>Veuillez vous connecter.</h1>
    </div>
    <div class="displayed">
        <div style="float: left" class="log">
            <div id="user">
                <h2>Utilisateurs</h2><br>
                <form class="user-login" [formGroup]="findForm">
                    <div class="spacing">
                        <label for="u_name">Nom d'utilisateur : </label>
                        <input type="text" id="u_name" name="user_name" [formControlName]="'userName'"/>
                    </div>
                    <div class="spacing">
                        <label for="password">Mot de passe : </label>
                        <input id="password" name="mdp" [formControlName]="'password'"/>
                    </div>
                    <div>
                        <button class="button-card" (click)="findUser(false)">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
        <div style="margin-left: auto" class="log">
            <div id="pro">
                <h2>Professionnels</h2><br>
                <form class="user-login" [formGroup]="findForm">
                  <div class="spacing">
                    <label for="u_name">Nom d'utilisateur : </label>
                    <input type="text" id="u_name" name="user_name" [formControlName]="'userName'"/>
                  </div>
                  <div class="spacing">
                    <label for="password">Mot de passe : </label>
                    <input id="password" name="mdp" [formControlName]="'password'"/>
                  </div>
                  <div>
                    <button class="button-card" (click)="findUser(true)">Connexion</button>
                  </div>
                </form>
            </div>
        </div>
    </div>

