<!--suppress XmlDuplicatedId, XmlDuplicatedId ->lDuplicatedId ->lDuplicatedId -->

    <div class="img">
      <img alt="logo GoldenAge login" src="../../../assets/images/logoComplet.png" height="150" width="421">
      <h1>Veuillez vous connecter.</h1>
    </div>
    <div class="displayed">
        <div style="float: left" class="log">
            <div id="user">


                <div>Utilisateurs</div><br>
                <form>
                    <div class="spacing">
                        <label>Nom d'utilisateur : </label>
                        <input name="user-userName" [(ngModel)]="username"/>
                    </div>
                    <div class="spacing">
                        <label>Mot de passe : </label>
                        <input type="password" name="password" [(ngModel)]="password" />
                    </div>
                    <div>
                        <button class="button-card" (click)="login()">Connexion</button>
                        <p *ngIf="wrongCredentials">erreur données invalides</p>
                    </div>
                </form>


            </div>
        </div>
        <div style="margin-left: auto" class="log">
            <div id="pro">
                <div>Professionnels</div><br>
                <form action="/ma-page-de-traitement" method="post">
                    <div class="spacing">
                        <label for="user_name">Nom d'utilisateur : </label>
                        <input type="text" id="user_name" name="user_name"/>
                    </div>
                    <div class="spacing">
                        <label for="mdp">Mot de passe : </label>
                        <input id="mdp" name="mdp"/>
                    </div>
                    <div>
                        <button class="button-card" [routerLink]="['/mes-quiz']">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

