<div class="header">

  <div class="box">
    <div style="order: 1" class="align">
      <img alt="logo GoldenAge" src="assets/images/logoPetit.png" height="157" width="153">

      <img alt="logo user" src="assets/images/userLogo.png" height="80" width="70" class="align">
    </div>

    <div style="order: 2; flex-grow: 2" class="column">
      <img alt="titre" src="assets/images/textGoldenAge.png" height="40" width="290">

      <h1>Bienvenue sur votre espace professionnel</h1>

    </div>

    <div style="order: 3" class="align">
      <a [routerLink]="['/login']"><img alt="logo log out" src="assets/images/logOutLogo.png" height="70" width="60" class="align"/></a>
    </div>

  </div>

  <div class="displayed">
      <nav>
        <a class="navigation" [routerLink]="['/mes-quiz']">Mes Quiz</a>
        <a class="navigation" [routerLink]="['/ajouter-quiz']">Ajouter un quiz</a>
        <a class="navigation" [routerLink]="['/user-list']">Mes suivis</a>
      </nav>
  </div>
</div>
