<app-header-pro></app-header-pro>
<br>
<ng-container *ngIf="quiz">
  <div class="displayed">
    <h1>Quiz : {{quiz.name}}</h1>
    <h2>Question : {{questionId + 1}}/
      <ng-container *ngIf="newQuestion"> {{quiz.questions.length + 1}}</ng-container>
      <ng-container *ngIf="!newQuestion"> {{quiz.questions.length}}</ng-container>
    </h2>
    <br>
    <form class="quiz-form" [formGroup]="questionForm">
      <div class="align">
        <div>
          <div class="item">
            <label for="label">Enoncé de la question :</label>
            <input class="input-custom" type="text" id="label" [formControlName]="'label'">
          </div>
          <div class="item" formArrayName="answers">
            <div *ngFor="let address of answers.controls; let i=index">
              <div [formGroupName]="i">
                <label>Réponse {{i + 1}} :</label>
                <input type="text" [formControlName]="'value'">
                <input type="checkbox" [formControlName]="'isCorrect'">
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <label for="img">
            <p>Image </p>
            <input class="input-custom" type="text" id="img" [formControlName]="'img'">
          </label>
        </div>
      </div>
      <ng-container *ngIf="questionId > 0">
        <button type="submit" class="button-card" (click)="previousQuestion()">Précédente</button>
      </ng-container>
      <button type="submit" class="button-card" (click)="nextQuestion()">
        <ng-container *ngIf="questionId >= quiz.questions.length - 1">Ajouter une question</ng-container>
        <ng-container *ngIf="questionId < quiz.questions.length - 1">Suivante</ng-container>
      </button>
      <button type="submit" class="button-card" (click)="deleteQuestion()">Suprimer</button>
      <button class="button-card item" (click)="finish()">Terminer</button>
      <br>
      <img *ngIf="!newQuestion" src="{{quiz.questions[questionId].img}}">
    </form>
  </div>
</ng-container>
