<app-header-pro></app-header-pro>
<br>
<ng-container *ngIf="quiz">
  <ng-container *ngIf="newQuestion">
    <div class="displayed">
      <h2>Créer une nouvelle question</h2>
      <br>
      <form class="quiz-form" [formGroup]="questionForm">
        <div class="align">
          <div>
            <div class="item">
              <label for="label">Enoncé de la question :</label>
              <input class="input-custom" type="text" id="label" [formControlName]="'label'">
            </div>
            <div class="item" formArrayName="answers">
              <div *ngFor="let address of answers.controls; let i=index">
                <div [formGroupName]="i">
                  <label>Réponse {{i + 1}} :</label>
                  <input type="text" [formControlName]="'value'">
                  <input type="checkbox" [formControlName]="'isCorrect'">
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <label for="img">
              <p>Image </p>
              <input class="input-custom" type="text" id="img" [formControlName]="'img'">
            </label>
          </div>
        </div>
        <button type="submit" class="button-card" (click)="addQuestion()">Ajouter une question</button>
        <button class="button-card item" (click)="finish()">Terminer</button>
        <img *ngIf="quiz" src="{{quiz.img}}">
      </form>
    </div>
  </ng-container>

  <ng-container *ngIf="!newQuestion">
    <div class="displayed">
      <h2>Modifier la question</h2>
      <br>
      <form class="quiz-form" [formGroup]="questionForm">
        <div class="align">
          <div>
            <div class="item">
              <label for="label">Enoncé de la question :</label>
              <input class="input-custom" type="text" id="label" [formControlName]="'label'" value="{{quiz.questions[questionId].label}}">
            </div>
            <div class="item" formArrayName="answers">
              <div *ngFor="let i of [0, 1, 2, 3]">
                <div [formGroupName]="i">
                  <label>Réponse {{i + 1}} :</label>
                  <input type="text" [formControlName]="'value'" value="{{quiz.questions[questionId].answers[i].value}}">
                  <input type="checkbox" [formControlName]="'isCorrect'" *ngIf="quiz.questions[questionId].answers[i].isCorrect" >
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <label for="img">
              <p>Image </p>
              <input class="input-custom" type="text" id="img" [formControlName]="'img'">
            </label>
          </div>
        </div>
        <button type="submit" class="button-card" (click)="addQuestion()">Ajouter une question</button>
        <button class="button-card item" (click)="finish()">Terminer</button>
        <img *ngIf="quiz" src="{{quiz.img}}">
      </form>
    </div>
  </ng-container>

</ng-container>
