<app-header-pro></app-header-pro>
<div class="card">
  <h2>Créer un nouveau Quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Titre <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="themeId">
      <select name="theme" id="themeId" [formControlName]="'themeId'">
        <option value="">Choisissez un theme</option>
        <option *ngFor="let theme of themeList" value="{{theme.id}}" >{{theme.name}}</option>
      </select>
    </label>
    <br>
    <label for="img">
      Image <br>
      <input class="input-custom" type="text" id="img" [formControlName]="'img'">
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">Créer</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
<app-footer-pro></app-footer-pro>
