<app-header-pro></app-header-pro>
<br>
<div class="displayed">
  <h2>Créer un nouveau Quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <div class="align">
      <div>
        <div class="item">
          <label for="name">
            <p>Nom du quiz: </p>
            <input class="input-custom" type="text" id="name" [formControlName]="'name'">
          </label>
        </div>
        <div class="item">
          <label for="themeId">
            <select name="theme" id="themeId" [formControlName]="'themeId'">
              <option value="">Choisissez un theme</option>
              <option *ngFor="let theme of themeList" value="{{theme.id}}" >{{theme.name}}</option>
            </select>
          </label>
        </div>
      </div>
      <div class="item">
        <label for="img">
          <p>Image du quiz:</p>
          <input class="input-custom" type="text" id="img" [formControlName]="'img'">
        </label>
      </div>
    </div>
    <button type="submit" class="button-card" (click)="addQuiz()">Ajouter des questions</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
<app-footer-pro></app-footer-pro>
