@import "../../../styles/variables";

.displayed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align : center;
  background-color: $lightGrey;
  border: solid $darkGrey;
}

p{
  color: $blue;
}

