  <div class="box">
    <div class="alignment">
      <img #tts10 alt="logo GoldenAge" src="assets/images/logoPetit.png" height="157" width="153" (mouseover)="TTS.say(tts10.alt)" (mouseout)="TTS.stop()">
      <img alt="logo user" src="assets/images/userLogo.png" height="80" width="70" class="alignment">
    </div>
    <div>
      <h1 #tts10 (mouseover)="TTS.say(tts10.innerText)" (mouseout)="TTS.stop()" class="name">{{quiz.name}}</h1>
    </div>
    <div class="alignment">
      <button mat-button color="primary" (click)="openDialogWithTemplateRef(myDialog)"><img #tts13 alt="Réglages" src="assets/images/cogLogo.png" height="80" width="70" (mouseover)="TTS.say(tts13.alt)" (mouseout)="TTS.stop()" ></button>
      <a [routerLink]="['/login']"><img #tts14 alt="Déconnexion" src="assets/images/logOutLogo.png" height="70" width="60" class="alignment" (mouseover)="TTS.say(tts14.alt)" (mouseout)="TTS.stop()"/></a>
    </div>
  </div>
  <div class="score">
    Score : {{currentScore}}/{{quiz.questions.length}}
  </div>

<app-text-to-speech #TTS></app-text-to-speech>
<div>
  <div *ngIf="question">
    <div class="align">
      <img src="{{question.img}}"/>
    </div>
    <h2 class="align" #tts11 (mouseover)="TTS.say(tts11.innerText)" (mouseout)="TTS.stop()">Question {{id+1}} : {{question.label}}</h2>
    <div *ngFor="let answer of answers">
      <div *ngIf="answered" class="answers">
          <button *ngIf="answer.isCorrect" #tts20 (mouseover)="TTS.say(tts20.innerText)" (mouseout)="TTS.stop()" class="answerRight">{{answer.value}}</button>
          <button *ngIf="answer === selectedAnswer && !answer.isCorrect" #tts30 (mouseover)="TTS.say(tts30.innerText)" (mouseout)="TTS.stop()" class="answerWrong">{{answer.value}}</button>
          <button *ngIf="answer !== selectedAnswer && !answer.isCorrect" #tts40 (mouseover)="TTS.say(tts40.innerText)" (mouseout)="TTS.stop()" class="answerOther">{{answer.value}}</button>
      </div>
      <div *ngIf="answered === false"  class="answers">
        <button #tts50 (mouseover)="TTS.say(tts50.innerText)" (mouseout)="TTS.stop()" class="answerDefault" (click)="selectAnswer(answer)" >{{answer.value}}</button>
      </div>
    </div>
    <div class="putRight" *ngIf="answered">
      <p><a #tts60 (mouseover)="TTS.say(tts60.innerText)" (mouseout)="TTS.stop()" (click)="suivant()">Suivant</a></p>
    </div>
  </div>
</div>

  <ng-template #myDialog>
    <h2 matDialogTitle>Dialog!</h2>
    <mat-dialog-content>
      <p>The content of this dialog came from an <code>ng-template</code>! Amazing, right?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose="true" color="primary">Dismiss</button>
    </mat-dialog-actions>
  </ng-template>

<app-footer-user></app-footer-user>
